*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #edede9;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
}
